.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.header_content {
  height: 80px;
  justify-content: space-between;
  align-content: center;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.header_content h1 {
  display: flex;
  align-items: center;
  margin-left: 81px;
  font-size: 24px;
  font-weight: var(--ff-weight-800);
  line-height: 33px;
  letter-spacing: 0px;
}

.theme_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme_toggle p {
  font-size: 16px;
  font-weight: var(--ff-weight-600);
  line-height: 22px;
  letter-spacing: 0px;
  margin: 0 80px 0 8px;
}